<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-sm-8">
                <p class="card-category h5" *ngIf="showalert1">
                  Ürünleri listemek için varyasyon link sayısını hesaplayınız.
                </p>
              </div>
              <div class="col-sm-4 position-relative">
                <button
                  class="btn btn-danger float-sm-right"
                  (click)="getProducts()"
                >
                  Listelemeyi Başlat
                </button>
              </div>
            </div>
          </div>

          <!-- ==========TABLE============== -->

          <form>
            <div class="form-group form-inline">
              Ara:
              <input
                class="form-control ml-2"
                type="text"
                name="searchTerm"
                [(ngModel)]="productservice.searchTerm"
              />
              <span class="ml-3" *ngIf="productservice.loading$ | async"
                >Loading...</span
              >
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" sortable="asin" (sort)="onSort($event)">
                    ASIN
                  </th>
                  <th scope="col" sortable="title" (sort)="onSort($event)">
                    İsim
                  </th>
                  <th scope="col" sortable="title" (sort)="onSort($event)">
                    Fiyat
                  </th>
                  <th
                    scope="col"
                    sortable="companyname"
                    (sort)="onSort($event)"
                  >
                    Marka
                  </th>
                  <th scope="col" sortable="seller" (sort)="onSort($event)">
                    Satıcı
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products$ | async">
                  <th
                    scope="row"
                    style="cursor: pointer"
                    (click)="openNewWindow(product.link)"
                  >
                    {{ product.asin }}
                  </th>
                  <td
                    style="cursor: pointer"
                    (click)="openLg(longContent, product)"
                  >
                    <ngb-highlight
                      [result]="product.title"
                      [term]="productservice.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="product.price"
                      [term]="productservice.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="product.companyname"
                      [term]="productservice.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="product.seller"
                      [term]="productservice.searchTerm"
                    ></ngb-highlight>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="(total$ | async)!"
                [(page)]="productservice.page"
                [pageSize]="productservice.pageSize"
              >
              </ngb-pagination>

              <select
                class="custom-select"
                style="width: auto"
                name="pageSize"
                [(ngModel)]="productservice.pageSize"
              >
                <option [ngValue]="20">20 ürün</option>
                <option [ngValue]="30">30 ürün</option>
                <option [ngValue]="40">40 ürün</option>
                <option [ngValue]="1000000">Hepsini Göster</option>
              </select>
            </div>
            <div class="d">
              <button
                *ngIf="showExcellButton"
                class="btn btn-success float-sm-right"
                (click)="printToExcellSheet()"
              >
                Excell Çıktısı Al
              </button>
            </div>
          </form>

          <!-- ======================== -->

          <!-- <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="col align-self-center">
                  <th>ASIN</th>
                  <th>İsim</th>
                  <th>Fiyat</th>
                  <th>Kategori</th>
                  <th>Stok Durumu</th>
                  <th>Şirket İsmi</th>
                  <th>Renk</th>
                  <th>Boyut</th>
                  <th>Satıcı</th>
                </thead>
                <tbody *ngFor="let singleProduct of products">
                  <tr>
                    <td
                      style="cursor: pointer"
                      (click)="openNewWindow(singleProduct.link)"
                    >
                      {{ singleProduct?.asin }}
                    </td>

                    <td
                      style="cursor: pointer"
                      (click)="openLg(longContent, singleProduct)"
                    >
                      {{ singleProduct?.title }}
                    </td>

                    <td>{{ singleProduct?.price }}</td>

                    <td>{{ singleProduct?.category }}</td>

                    <td>{{ singleProduct?.availability }}</td>

                    <td>{{ singleProduct?.companyname }}</td>

                    <td>{{ singleProduct?.color }}</td>

                    <td>{{ singleProduct?.size }}</td>

                    <td>{{ singleProduct?.seller }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <img src="singleProduct.imagelink" alt="" />
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ASIN</th>
                  <td>{{ singleProduct?.asin }}</td>
                </tr>
                <tr>
                  <th>İsim</th>
                  <td>{{ singleProduct?.title }}</td>
                </tr>
                <tr>
                  <th>Fiyat</th>
                  <td>{{ singleProduct?.price }}</td>
                </tr>
                <tr>
                  <th>Kategori</th>
                  <td>{{ singleProduct?.category }}</td>
                </tr>
                <tr>
                  <th>Ürün Linki</th>
                  <a (click)="openNewWindow(singleProduct.link)">
                    <td>{{ singleProduct?.link }}</td>
                  </a>
                </tr>
                <tr>
                  <th>Stok Durumu</th>
                  <td>{{ singleProduct?.availability }}</td>
                </tr>
                <tr>
                  <th>Şirket İsmi</th>
                  <td>{{ singleProduct?.companyname }}</td>
                </tr>
                <tr>
                  <th>Renk</th>
                  <td>{{ singleProduct?.color }}</td>
                </tr>
                <tr>
                  <th>Boyut</th>
                  <td>{{ singleProduct?.size }}</td>
                </tr>
                <tr>
                  <th>Satıcı</th>
                  <td>{{ singleProduct?.seller }}</td>
                </tr>
                <tr>
                  <th>Ürün Açıklaması</th>
                  <td>{{ singleProduct?.description }}</td>
                </tr>
                <tr>
                  <th>Ürün Bilgileri</th>
                  <table>
                    <tr *ngFor="let item of singleProduct.info">
                      <th>{{ item?.subInfoTitle }}</th>
                      <td>{{ item?.subInfo }}</td>
                    </tr>
                  </table>
                </tr>
                <tr>
                  <th>Teknik Bilgiler</th>
                  <table>
                    <tr *ngFor="let item of singleProduct.technicalDetails">
                      <th>{{ item?.subInfoTitle }}</th>
                      <td>{{ item?.subInfo }}</td>
                    </tr>
                  </table>
                </tr>
                <tr>
                  <th>Ek Bilgiler</th>
                  <table>
                    <tr *ngFor="let item of singleProduct.additionalInfo">
                      <th>{{ item?.subInfoTitle }}</th>
                      <td>{{ item?.subInfo }}</td>
                    </tr>
                  </table>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
