<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <p class="card-category" *ngIf="!countOfVariationLinks">
              Ürünleri listemek için varyasyon link sayısını hesaplayınız.
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="col align-self-center">
                  <th>ASIN</th>
                  <th>İsim</th>
                  <th>Fiyat</th>
                  <th>Kategori</th>
                  <th>Ürün Linki</th>
                  <th>Stok Durumu</th>
                  <th>Şirket İsmi</th>
                  <th>Renk</th>
                  <th>Boyut</th>
                  <th>Satıcı</th>
                  <th>Ürün Açıklaması</th>
                  <th>Ürün Bilgileri</th>
                  <th>Teknik Bilgiler</th>
                  <th>Ek Bilgiler</th>
                </thead>
                <tbody *ngFor="let singleProduct of products">
                  <tr>
                    <td>{{ singleProduct?.asin }}</td>

                    <td>{{ singleProduct?.title }}</td>

                    <td>{{ singleProduct?.price }}</td>

                    <td>{{ singleProduct?.category }}</td>

                    <a (click)="openNewWindow(singleProduct.link)">
                      <td>{{ singleProduct?.link }}</td>
                    </a>

                    <td>{{ singleProduct?.availability }}</td>

                    <td>{{ singleProduct?.companyname }}</td>

                    <td>{{ singleProduct?.color }}</td>

                    <td>{{ singleProduct?.size }}</td>

                    <td>{{ singleProduct?.seller }}</td>

                    <td>{{ singleProduct?.description }}</td>
                    <!-- <td>
                      <table>
                        <tr *ngFor="let item of singleProduct?.info">
                          <th>{{ item?.subInfoTitle }}</th>
                          <td>{{ item?.subInfo }}</td>
                        </tr>
                      </table>
                    </td>
                    <td>
                      <table>
                        <tr
                          *ngFor="let item of singleProduct?.technicalDetails"
                        >
                          <th>{{ item?.subInfoTitle }}</th>
                          <td>{{ item?.subInfo }}</td>
                        </tr>
                      </table>
                    </td>
                    <td>
                      <table>
                        <tr *ngFor="let item of singleProduct?.additionalInfo">
                          <th>{{ item?.subInfoTitle }}</th>
                          <td>{{ item?.subInfo }}</td>
                        </tr>
                      </table>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
